@import "../../shared.less";

.gameTable {
  margin-bottom: 20px;

  em {
    font-style: normal;
    opacity: 0.5;
  }
}

.lightText {
  color: fade(@almostwhite, 75%);
}

.score {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.stripedRow {
  background-color: rgba(196, 196, 196, 0.1);
}

.currentUserHighlight {
  background-color: rgba(196, 196, 196, 0.15);

  .lightText {
    color: @almostwhite;
  }

  &.stripedRow {
    background-color: rgba(196, 196, 196, 0.2);
  }
}