@import './shared.less';
@menu-speed: 0.3s;

body {
  margin: 0;
  padding: 0;
  background-color: @darkblue;
  color: @lightgrey;
  font-family: @font-body;
  font-size: 18px;
}

a {
  color: inherit;
}

header {
  top: 0;
  margin: 20px 0 0;

  .name {
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    span {
      font-weight: 300;
      padding-left: 5px;
    }
  }

  .settings {
    text-align: right;
  }

  .app-logo {
    margin: 15px auto 0;
    display: block;
  }

  #topBar {
    //height: 25px;
  }
}

.appLogoExternal {
  display: block;
  margin: 150px auto 60px;
}

nav {
  margin: 30px 0;

  img {
    display: block;
    margin: auto;
  }

  ul {
    padding: 0;
    margin: 0;
    overflow: hidden;

    &.showMenu {
      max-height: 500px;
      opacity: 1;
      transition: all @menu-speed ease-in;
    }

    &.hideMenu {
      max-height: 0;
      opacity: 0.2;
      transition: all @menu-speed ease-out;
    }

    li {
      padding: 0;
      margin: 0 0 30px;
      text-align: center;
      list-style: none;

      a {
        text-transform: uppercase;
        font-family: @font-body;
        color: @almostwhite;
        text-decoration: none;
        font-size: 24px;
        font-weight: 300;
        line-height: 27px;
      }
    }
  }
}

h1 {
  font-family: @font-heading;
  color: @limeyellow;
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
}

h2 {
  font-family: @font-display;
  font-size: 24px;
  line-height: 27px;

  a {
    color: @lightgrey;
  }
}

h3 {
  font-family: @font-body;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;

  &.light {
    color: fade(@lightgrey, 70%);
  }
}

h4 {
  font-family: @font-body;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  color: @darkblue;
  text-transform: uppercase;

  &.light {
    color: fade(@lightgrey, 70%);
  }
}

button {
  transition: opacity 0.5s;

  &.large {
    background-color: @limeyellow;
    width: 100%;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
    color: @darkblue;
    text-transform: uppercase;
    margin: 10px 0;
    border: 3px solid rgba(220, 237, 49, 0.3);
  }

  &.small {
    background-color: transparent;
    outline: 0;
    border: 0;
    display: block;
    margin: auto;
    color: @limeyellow;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px 10px;
}

.fixedBottom+.fader,
.fixedPaddingBottom {
  margin-bottom: 102px;
}

.fixedTop~.fader {
  margin-top: 173px;
}

.fixedTop {
  position: fixed;
  top: 0;
  right: 15px;
  left: 15px;
  background: @darkblue;
  z-index: 500;
}

.menuIsVisible {
  .fixedBottom {
    transition: all @menu-speed ease-out;
    opacity: 0;

    &.reverseVisible {
      opacity: 1;
    }
  }

  &.container .fader {
    transition: all @menu-speed ease-out;
    opacity: 0.15;
  }
}

.play-match {
  z-index: 250;
  background-color: @darkblue;
}

.menuIsNotVisible {
  .fixedBottom {
    transition: all @menu-speed ease-in;
    opacity: 1;

    &.reverseVisible {
      opacity: 0;
    }
  }

  &.container .fader {
    transition: all @menu-speed ease-in;
    opacity: 1;
  }
}

.fixedBottom {
  .fixedBottom {
    opacity: 1;
  }
}

.Toastify {
  .Toastify__toast-container {
    .Toastify__toast {
      .Toastify__toast-body {}

      .Toastify__close-button {}

      &.Toastify__toast--error {
        background-color: @bloodred;
      }

      &.Toastify__toast--success {
        background-color: @limeyellow;
        color: @darkblue;

        .Toastify__close-button {
          color: @darkblue;
        }
      }
    }
  }
}