//Colours
@darkblue: #2E294E;
@lightgrey: #D8DBE2;
@almostwhite: #e5e5e5;
@limeyellow: #DCED31;
@bloodred: #D16666;
@plaingrey: #cccccc;
@errorred: #D16666; //#e74c3c;
@font-heading: 'Roboto Slab', serif;
@font-body: 'Comfortaa', Helvetica;
@font-display: 'Graduate';

.googleButton {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  width: 100% !important;
  padding: 20px !important;
  font-size: 18px !important;
  text-align: center;
  color: @almostwhite;
  background-color: #fff;
  color: lighten(#000000, 54%);
  text-transform: uppercase;
  border: 0;

  img {
    margin-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}